* {
    box-sizing: border-box;
}

.game {
    .field {
        width: 500px;
        height: 500px;
        margin: 0 auto;
        border-right: 1px solid #EAE2E2;
        border-bottom: 1px solid #EAE2E2;
    }

    .row {
        width: 500px;
        height: 50px;
    }

    .square {
        width: 50px;
        height: 50px;
        float: left;
        border-left: 1px solid #EAE2E2;
        border-top: 1px solid #EAE2E2;
    }

    .ball {
        width: 94%;
        height: 94%;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 2%;

        &.ball-red {
            background-color: #E74C3C;
        }

        &.ball-yellow {
            background-color: #F1C40F;
        }

        &.ball-blue {
            background-color: #3498DB;
        }

        &.ball-green {
            background-color: #27AE60;
        }
        &.ball-purple {
            background-color: #884EA0;
        }
        &.ball-black {
            background-color: #283747;
        }
    }
}